header{
    height: 215px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon-background{
    background: #9883E5;
    font-size: 0;
    position: absolute;
    width: 100%;
    height: inherit; 
    overflow: hidden;
}

.hexagon-background div{
    width: inherit;
    height: inherit;
    background-image: url('../images/Hexagon-pattern.png');
    background-size: 44px 56px;
}

.Picture-hexagon{
    width: 187px;
    height: 75%;
    background: whitesmoke;
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 16px;
}

@media screen and (min-width: 768px){

}


@media screen and (min-width: 1000px){
    header{
        height: 375px;
    }

    .hexagon-background div{
        background-size: 66px 84px;
    }

    .Picture-hexagon{
        width: 400px;
    }
}