nav{
    height: 50px; 
    background: #F58A07;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

a{
    font-size: 0.688rem;
    color: white;
    width: 65px;
    padding: 5px 0 5px 0;
    background: #824C71;
    border: 1px solid #111;
    border-radius: 25px;
    text-align: center;
    text-decoration: none ;
}

a:visited{
    color: white;
}

a:hover{
    color: #111;
    background: #F5C6EC;
}

a:active{
    color: white;
}

@media screen and (min-width: 1000px){
    nav{
        height: 75px;
        gap: 15px;
    }

    a{
        font-size: 1rem;
        width: 120px;
        padding: 10px 0 10px 0;
    }
}